.header {
    background: gray;
    height: 10px;
}
.menu__list {
    padding: 0;
    list-style-type: none;
    margin:0  20px;
    background: rgb(6,182,244);
    width: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}
.menu__headline {
    border-radius: 0 0 10px 10px;
    border: 1px rgb(1,118,225) solid;
    border-top: 1px rgb(225,209,255) solid;
}
.menu__headline:hover {
    box-shadow: 0 1px 3px 3px rgba(6,182,244,0.3);
}
.menu__items:hover {
    background: rgb(6,121,248);
}
