.header__button {
    color: #78829d;
    font-size: 13px;
    margin: 15px;
}

.header__marker {
    border: 2px solid #19202e;
    border-radius: 100%;
}

.header__user {
    color: #ffffff;
    font-size: 13px;
    width: 158px;
    background-color: #15a4fa;
    height: 100%;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__user-icons {
    width: 12px;
    height: 12px;
}

.header__user-photo {
    width: 31px;
    height: 32px;
    border: 2px solid #eef1f7;
    border-radius: 100%;
}