#loader{
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
    justify-content: center;
    margin: 50px;
}
#loader div{
    margin: 10px;
    width:30px;
    height: 30px;
    border-radius: 100%;
}
#loader div:nth-child(1){
    background-color: rgb(190, 170, 207);
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}
#loader div:nth-child(2){
    background-color:  rgb(187, 164, 207);
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay:2s;
}
#loader div:nth-child(3){
    background-color: rgb(181, 150, 207);
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay:4s;
}
#loader div:nth-child(4){
    background-color: rgb(180, 143, 209);
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay:6s;
}
#loader div:nth-child(5){
    background-color: rgb(173, 133, 207);
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-delay:8s;
}
@keyframes shadow {
    0% {
        box-shadow: 0 0 1px 0px rgba(190, 170, 207,0.4);
    }
    10%  {
        box-shadow: 0 0 1px 20px rgba(190, 170, 207,0.4);
    }
    20%  {
        box-shadow: 0 0 1px 20px rgba(190, 170, 207,0);
    }
}
.wall{
    width: 50px;
    height: 100px;
    background-image: url(https://www.allstick.ru/@s/image-cache/1d8/1d8d1c09aa91-u..product~10~10862~5b22d84cddf02.fit.crop.h.400.w.400~xgxgxgx.jpg);
}
#ball{
    width: 300px;
    height: 100px;
    background-image:url(http://i.piccy.info/i5/36/63/1016336/yt,j.jpg);
    position: relative;
}
#containerBall{
    display: flex;
    width: 500px;
    margin: 50px;
}
#ball::after{
    content: "";
    width: 30px;
    height: 30px;
    background-color:red;
    border-radius: 100%;
    position: absolute;
    top: 35px;
    animation-name: motion;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.15,.27,.85,.73);
    animation-iteration-count: infinite;
}
@keyframes motion {
    0% {
        left:0px;
    }
    100%  {
        left:270px;
    }
  }
#circle{
    width: 300px;
    height: 300px;
    margin: 50px;
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes animation {
    0% {
        border-radius: 100%;
        background: linear-gradient(30deg , rgb(38, 31, 68), rgb(193, 194, 197));
    }
    15%  {
        border-radius: 0%;
        background: linear-gradient(30deg , rgb(38, 31, 68), rgb(193, 194, 197));
    }
    30%  {
        border-radius: 0%;
        background: linear-gradient(30deg ,rgb(168, 10, 241), rgb(238, 110, 210));
        transform: scale(1,1);
    }
    45%  {
        border-radius: 0%;
        background: linear-gradient(30deg ,rgb(168, 10, 241), rgb(238, 110, 210));
        transform: scale(0.5,0.5) skew(20deg,10deg) rotate(0deg);

    }
    60%  {
        border-radius: 0%;
        background: linear-gradient(30deg ,rgb(168, 10, 241), rgb(238, 110, 210));
        transform: scale(0.5,0.5) skew(20deg,10deg) rotate(360deg);
    }
    75% {
        border-radius: 0%;
        background: linear-gradient(30deg , rgb(38, 31, 68), rgb(193, 194, 197));
        transform: scale(1,1) skew(0deg,0deg) rotate(0deg);
    }
    100% {
        border-radius: 100%;
        background: linear-gradient(30deg , rgb(38, 31, 68), rgb(193, 194, 197));
        transform: scale(1,1) skew(0deg,0deg) rotate(0deg);
    }
}