.input{
    width: 100%;
    border: none;
    margin: 15px 0 0 0;
    font-size: 12pt;
}
.block {
    width: 100%;
    height: 40px;
    position:relative;
    display: inline-block;
}
.block-title {
    border-bottom: 1px black solid;
}
.block-price {
    width:34%;
}
.block-location {
    border-left: 1px solid black;
    width:64%;
}
.block-description {
    border-top: 1px black solid;
}
.fieldset{
    width:300px;

}
.label {
    position:absolute;
    left:0; top:0;
    transition: all .1s linear;
    color:#999;
    opacity: 0;
    z-index: -1;
    font-size: 8pt;
}
.input:invalid + label {
    opacity: 0;
    top: 10px;
    color: #999;
}
.input:valid + label {
    top:3px;
    opacity:1;
}
.input:focus {
    outline:none;
}
.input:focus + label {
    color:blue;
}